MONGO_URI=mongodb://ml-mongodb:27017
MONGO_DB=cab_ml_platform
REDIS_URL=redis://ml-redis:6379
MODEL_STORE_PATH=/app/model_store
SURGE_PUSH_INTERVAL_SECONDS=30
SURGE_REDIS_TTL=90
KAFKA_BROKERS=kafka:9092
